  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
   /*background-color: #1f1f1f;*/
   background-image: url("/kuvat/IMG_20250805_170212.jpg");
   background-repeat: no-repeat;
  background-position-y: 690px;
   background-size: 100% ;
  }

.custom-shape-divider-top-1751411372 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1751411372 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1751411372 .shape-fill {
    fill: #FFFFFF;
}

.glow-button {
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #00ccff;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.glow-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(0, 234, 255, 0.3), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.3s;

}

.glow-button:hover {
background-color: #00ccff;
color: #000000;
box-shadow: 0 0 15px #00ccff, 0 0 30px #00ccff, 0 0 45px #00ccff;

}

.glow-button:hover::before {
  opacity: 1;
}

.vaaleesn {
  background-color: #1f8ac0;
}



.buttoni a {
  color: #c5c5c5;
  border-radius: 20px;
}
.buttoni:hover  a:hover {
  background-color: #fff;
  color: #1f8ac0;
  
}

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #c5c5c5;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #c5c5c5;
    font-weight: 400;
    margin-bottom: 30px;
    
  }  
  .jumbotron {
    
    background-image: url("/kuvat/intiaani.jpg");
    background-size: cover;
    background-position: 0px; 
    background-repeat: no-repeat;
    background-color: #1f1f1f;
    box-shadow:  0 0 10px #000000;
    color: #1a1a1a;
    padding: 250px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #0083a3;
    font-size: 50px;
  }
  .logo {
    /*color: #c0bfbf;*/
    background: transparent;
  background: linear-gradient(90deg,rgba(51, 51, 51, 1) 0%, rgba(171, 171, 171, 1) 45%, rgba(255, 255, 255, 1) 100%);
  color: transparent;
  background-clip: text;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #0083a3;
  }
  .carousel-indicators li {
   
    border-color: #0083a3;
  }
  .carousel-indicators li.active {
    background-color: #00a7d1;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
   /* background-color: #f4511e;*/
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #585858 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #b8b8b8 !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }




@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



.container2 {
  margin: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;

  height: 15%;
  width: 35%;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

.banner-image {
  
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}

h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
 
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.3rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}


.info-text {
  align-items: center;
  text-align: center;
  
}


  .bg-rotator {
    
     
      animation: changeBg 9s infinite;
     
    }
     .bg-rotator2 {
    
     
      animation: changeBg2 3s infinite;
     
    }

    @keyframes changeBg {
      0%   { background-image: url("/kuvat/257.JPG"); }
      33%  { background-image: url("/kuvat/Katti.jpg"); }
      66%  { background-image: url("/kuvat/puu.jpg"); }
      100% { background-image: url("/kuvat/nalle.jpg");}
    }

 @keyframes changeBg2 {
   0%  { background-image: url("/kuvat/vanha\ penkki.jpg"); }
      50%   { background-image: url("/kuvat/korjattu\ penkki.jpg"); }
      100%  { background-image: url("/kuvat/vanha\ penkki.jpg"); }
      
      
    }


  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }